@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: open sans, sans-serif;
}

body {
    background-color: rgb(52, 44, 99);
    min-height: 100vh;
}

h1 {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(106, 90, 205);
    padding: 1rem;
}

@media (max-width: 670px) {
    header {
        flex-direction: column;
    }   
    header nav ul {
        margin-top: 1rem;
    }
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin-inline: 1rem;
    display: flex;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.mainBox {
    margin-block: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    max-width: 90%;
    margin-inline: auto;
    gap: 2rem;
}

.container {
    text-align: center;
    display: flex;
    flex-grow: 1;
    flex-basis: calc(25% - 2rem);
    flex-direction: column;
    width: 100%;
    min-width: 20rem;
    max-height: 50rem;
    overflow: auto;
    padding: 2.5rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 0.125rem white;
}

.container h2 {
    font-size: 1.5rem;
}

.productsDiv {
    margin-block: 1em;
    text-align: left;
    width: 100%;
    word-wrap: break-word;
}

.productsDiv p span {
    font-weight: 700;
}

.container input, .container select, .container button, .container input[type="submit"], .container input[type="button"] {
    width: 100%; 
    margin-top: 1.5rem;
    padding: 15px;
    border-radius: 15px;
    border: 0px solid;
    box-shadow: 0 0 0.125rem gray;
}

.container button, .container input[type="submit"], .container input[type="button"] {
    cursor: pointer;
    background-color: rgb(106, 90, 205);
    color: white;
    border: 0px solid;
    box-shadow: 0 0 0;
}

.container button:hover, .container input[type="submit"]:hover, .container input[type="button"]:hover {
    opacity: 0.9;
}

.container button:active, .container input[type="submit"]:active, .container input[type="button"]:active {
    transform: scale(0.98);
}

dialog {
    border: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    padding: 60px;
    border-radius: 1.25rem;
    box-shadow: 0 0 0.125rem gray;
}


.modal-btn {
    position: absolute;
    top: 18px;
    right: 14px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.15s ease-in-out;
}

dialog > h4 {
    font-size: clamp(0.5em, 3vw, 1.5em);
}

dialog > p {
    font-size: clamp(0.25em, 3vw, 1em);
    line-height: 1.5;
    padding: 10px;
}

.modal-btn:hover {
    background-color: rgba(0, 0, 0, 0.04);
}


